node_modules
dist
out-tsc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

.vscode/*
.idea/*
.DS_Store

docker/data/
docker/logs/
clickhouse_data/
temporal_data/

output/*.json

*.tmp
